@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&display=swap');
html {
    -webkit-text-size-adjust: 100%;
}

@font-face {
    font-family: 'Fantasque Sans Mono';
    src: url('fonts/FantasqueSansMono-Bold.woff2') format('woff2'),
        url('fonts/FantasqueSansMono-Bold.woff') format('woff'),
        url('fonts/FantasqueSansMono-Bold.ttf') format('truetype'),
        url('fonts/FantasqueSansMono-Bold.svg#FantasqueSansMono-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fantasque Sans Mono';
    src: url('fonts/FantasqueSansMono-Bold_1.woff2') format('woff2'),
        url('fonts/FantasqueSansMono-Bold_1.woff') format('woff'),
        url('fonts/FantasqueSansMono-Bold_1.ttf') format('truetype'),
        url('fonts/FantasqueSansMono-Bold_1.svg#FantasqueSansMono-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fantasque Sans Mono';
    src: url('fonts/FantasqueSansMono-Bold_2.woff2') format('woff2'),
        url('fonts/FantasqueSansMono-Bold_2.woff') format('woff'),
        url('fonts/FantasqueSansMono-Bold_2.ttf') format('truetype'),
        url('fonts/FantasqueSansMono-Bold_2.svg#FantasqueSansMono-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fantasque Sans Mono';
    src: url('fonts/FantasqueSansMono-Bold_3.woff2') format('woff2'),
        url('fonts/FantasqueSansMono-Bold_3.woff') format('woff'),
        url('fonts/FantasqueSansMono-Bold_3.ttf') format('truetype'),
        url('fonts/FantasqueSansMono-Bold_3.svg#FantasqueSansMono-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fantasque Sans Mono';
    src: url('fonts/FantasqueSansMono-Regular.woff2') format('woff2'),
        url('fonts/FantasqueSansMono-Regular.woff') format('woff'),
        url('fonts/FantasqueSansMono-Regular.ttf') format('truetype'),
        url('fonts/FantasqueSansMono-Regular.svg#FantasqueSansMono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fantasque Sans Mono';
    src: url('fonts/FantasqueSansMono-Regular_1.woff2') format('woff2'),
        url('fonts/FantasqueSansMono-Regular_1.woff') format('woff'),
        url('fonts/FantasqueSansMono-Regular_1.ttf') format('truetype'),
        url('fonts/FantasqueSansMono-Regular_1.svg#FantasqueSansMono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fantasque Sans Mono';
    src: url('fonts/FantasqueSansMono-Regular_2.woff2') format('woff2'),
        url('fonts/FantasqueSansMono-Regular_2.woff') format('woff'),
        url('fonts/FantasqueSansMono-Regular_2.ttf') format('truetype'),
        url('fonts/FantasqueSansMono-Regular_2.svg#FantasqueSansMono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fantasque Sans Mono';
    src: url('fonts/FantasqueSansMono-Italic.woff2') format('woff2'),
        url('fonts/FantasqueSansMono-Italic.woff') format('woff'),
        url('fonts/FantasqueSansMono-Italic.ttf') format('truetype'),
        url('fonts/FantasqueSansMono-Italic.svg#FantasqueSansMono-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fantasque Sans Mono';
    src: url('fonts/FantasqueSansMono-Italic_1.woff2') format('woff2'),
        url('fonts/FantasqueSansMono-Italic_1.woff') format('woff'),
        url('fonts/FantasqueSansMono-Italic_1.ttf') format('truetype'),
        url('fonts/FantasqueSansMono-Italic_1.svg#FantasqueSansMono-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fantasque Sans Mono';
    src: url('fonts/FantasqueSansMono-Italic_2.woff2') format('woff2'),
        url('fonts/FantasqueSansMono-Italic_2.woff') format('woff'),
        url('fonts/FantasqueSansMono-Italic_2.ttf') format('truetype'),
        url('fonts/FantasqueSansMono-Italic_2.svg#FantasqueSansMono-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fantasque Sans Mono';
    src: url('fonts/FantasqueSansMono-Regular_3.woff2') format('woff2'),
        url('fonts/FantasqueSansMono-Regular_3.woff') format('woff'),
        url('fonts/FantasqueSansMono-Regular_3.ttf') format('truetype'),
        url('fonts/FantasqueSansMono-Regular_3.svg#FantasqueSansMono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fantasque Sans Mono';
    src: url('fonts/FantasqueSansMono-BoldItalic.woff2') format('woff2'),
        url('fonts/FantasqueSansMono-BoldItalic.woff') format('woff'),
        url('fonts/FantasqueSansMono-BoldItalic.ttf') format('truetype'),
        url('fonts/FantasqueSansMono-BoldItalic.svg#FantasqueSansMono-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fantasque Sans Mono';
    src: url('fonts/FantasqueSansMono-BoldItalic_1.woff2') format('woff2'),
        url('fonts/FantasqueSansMono-BoldItalic_1.woff') format('woff'),
        url('fonts/FantasqueSansMono-BoldItalic_1.ttf') format('truetype'),
        url('fonts/FantasqueSansMono-BoldItalic_1.svg#FantasqueSansMono-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fantasque Sans Mono';
    src: url('fonts/FantasqueSansMono-BoldItalic_2.woff2') format('woff2'),
        url('fonts/FantasqueSansMono-BoldItalic_2.woff') format('woff'),
        url('fonts/FantasqueSansMono-BoldItalic_2.ttf') format('truetype'),
        url('fonts/FantasqueSansMono-BoldItalic_2.svg#FantasqueSansMono-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fantasque Sans Mono';
    src: url('fonts/FantasqueSansMono-BoldItalic_3.woff2') format('woff2'),
        url('fonts/FantasqueSansMono-BoldItalic_3.woff') format('woff'),
        url('fonts/FantasqueSansMono-BoldItalic_3.ttf') format('truetype'),
        url('fonts/FantasqueSansMono-BoldItalic_3.svg#FantasqueSansMono-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fantasque Sans Mono';
    src: url('fonts/FantasqueSansMono-Italic_3.woff2') format('woff2'),
        url('fonts/FantasqueSansMono-Italic_3.woff') format('woff'),
        url('fonts/FantasqueSansMono-Italic_3.ttf') format('truetype'),
        url('fonts/FantasqueSansMono-Italic_3.svg#FantasqueSansMono-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}



:root {
    --nrd-dark1: #2e3440;
    --nrd-dark2: #3b4252;
    --nrd-dark3: #434c5e;
    --nrd-dark4: #4c566a;
    --nrd-light1: #d8dee9;
    --nrd-light2: #e5e9f0;
    --nrd-light3: #eceff4;
    --nrd-red: #bf616a;
    --nrd-orange: #d08770;
    --nrd-yellow: #ebcb8b;
    --nrd-green: #a3be8c;
    --nrd-purple: #b48ead;

    --gruv-dark: #2a2827;
    --gruv-light: #ddc7a1;
    --gruv-red: #ea6962;
    --gruv-orange: #e78a4e;
    --gruv-yellow: #d8a657;
    --gruv-green: #a9b665;
    --gruv-aqua: #89b482;
    --gruv-blue: #7daea3;
    --gruv-purple: #d3869b;
  }
  

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Fantasque Sans Mono', monospace;
    font-size: 14px;
    font-weight: 200;
    line-height: 22px;
    background-color: var(--gruv-dark);
    height: 100%;
    /*text-transform: lowercase;*/
}

div {
    margin: 0px;
    margin-bottom: 40px;
    padding: 0px;
}

p {
    margin-top: 0px;
}

p > a {
    color: var(--gruv-yellow);
}

p > a:hover {
    color: var(--gruv-blue);
}

#header {
    max-width: 800px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    margin: auto;
    font-size: 24px;
}

    #header #name {
        float: left;
    }

    #header #menu {
        float: right;
        text-align: right;
        word-spacing: 10px;
    }

@media screen and (max-width: 550px) {

    #header #name {
        margin-bottom: 10px;
    }

    #header #menu {
        margin-top: 0px;
        float: left;
        text-align: left;
    }


}
html {
    margin-left: 17px;
    margin-right: 17px;
    height: 100%;
    overflow-y: scroll;
}


#content {
    max-width: 800px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}

#grid {
    max-width: 800px;
    /* padding: 20px; */
    margin: auto;
    clear: both;
}

    #grid .work {
        width: 100%;
        position: relative;
        opacity: 0;
        -webkit-transition: opacity .5s;
        transition: opacity .5s;
        transition-delay: .5s;
        margin: auto;
        
    }

        #grid .work .image {
            position: relative;
            width: 100%;
            margin: auto;
            padding: 0px;
            padding-bottom: 56.25%;
            border:3px solid var(--gruv-aqua);
            
        }

        #grid .work .image_ongoing {
            position: relative;
            width: 100%;
            margin: auto;
            padding: 0px;
            padding-bottom: 56.25%;
            border:3px solid var(--gruv-orange);
            
        }

            #grid .work img {
                position: absolute;
            }

    #grid .work .grid_title {
        display: block;
        position: relative;
        margin-top: 8px;
        margin-bottom: 40px;
        font-size: 20px;
        line-height: 34px;
    }


#media {
    width: 100%;
}

    #media #media_object {
        margin-bottom: 0px;
        padding-bottom: 0px;
        background-color: black;
        opacity: 0;
        transition: opacity .5s;
    }

        #media #media_object img {
            display: none;
        }

    #media #media_thumbs {
        margin-top: 12px;
        margin-bottom: 0px;
        margin-bottom: 50px;
        width: 100%;
        height: 5px;
        text-align: center;
        word-spacing: 20px;
    }

        #media #media_thumbs a {
            font-size: 18px;
            font-family: monospace;
            margin-left: 5px;
            margin-right: 5px;
        }


        #media #media_thumbs a:hover {
            cursor: pointer;
            color: black;
        }

#audio {
    background-color: var(--gruv-dark);
    padding: 5px;
    padding-bottom: 0px;
    margin-bottom: 30px;
}

    #audio iframe {
        height: 20px;
    }

.clear {
    clear: both;
    margin-bottom: 0px;
}

/* Rounded border */
hr.rounded {
    margin-top: 20px;
    border: 2px solid var(--gruv-light);
    border-radius: 8px;
  }

.title {
    font-size: 24px;
    line-height: 34px;
}


.info {
    margin-bottom: 30px;
}

img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

iframe {
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

p > a {
    text-decoration: none;
    color: var(--gruv-yellow);
}
a {
    text-decoration: none;
    color: var(--gruv-light);
}
#menu > a {
    text-decoration: none;
    color: var(--gruv-light);
}
#name > a {
    text-decoration: none;
    color: var(--gruv-light);
}

#name > a:hover {
    color: var(--gruv-blue);
}

a:hover {
    color: var(--gruv-blue);
}

#menu > a:nth-child(1):hover {
    color: var(--gruv-orange);
}

#menu > a:nth-child(2):hover {
    color: var(--gruv-green);
}
#menu > a:nth-child(3):hover {
    color: var(--gruv-purple);
}
#links > a:nth-child(3):hover {
    color: var(--gruv-orange);
}

#links > a:nth-child(5):hover {
    color: var(--gruv-blue);
}
#links > a:nth-child(3):hover {
    color: var(--gruv-purple);
}

#links *{
    margin-right: 10px;

}

div > #links {
    margin-bottom: 0px;
}


ul {
    display: block;
    margin: 0px;
    padding: 0px;
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 25px;
    color: var(--gruv-light);
}

li {
    list-style: square;
    list-style-position: inside ;
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
    
    padding-left: 20px;
}

    li b {
        font-weight: 400;
        /* text-decoration: underline; */
    }

li.news {
    text-indent: 0px;
    padding-left: 0px;
}

li span {
    color: var(--gruv-light);
    padding-right: 10px;
}

li span.show {
    color: var(--gruv-light);
}

p {
    color: var(--gruv-light);
}

span{
    color: var(--gruv-light);
}

h1{
    color: var(--gruv-light);
}
h2{
    color: var(--gruv-light);
}
h3{
    color: var(--gruv-light);
}
h4{
    color: var(--gruv-light);
}

/* #name {
    text-transform: capitalize;
}
#menu {
    text-transform: capitalize;
} */


img.avatar {
    width:128px;
    margin: 10px;
    border:3px solid var(--gruv-blue);
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

.biotxt {
    float: right;
    margin-left: 20px;
    margin-bottom: 0;
    margin-right: 5px;
}

.biotxt > p {
    color: var(--gruv-light);
}

.bioavatar {
    width: 24%;
    float: left;
}

.note {
    margin-top: 5px;
    color: var(--gruv-red);
    text-align: center;
    font-size: 11px;
}

h3 > a {

    color: var(--gruv-yellow);
}

text {
    color: var(--gruv-light);
}

li > a {
    color: var(--gruv-yellow);
}

ul > li {
    padding-bottom: 10px;
}


#paper > a {
    color:var(--gruv-green)
}

#eng > a {
    color: var(--gruv-purple);
}

#recent > a{
    color: var(--gruv-blue);
    font-size: 20px;
}
#recent > a:hover{
    color: var(--gruv-orange);
}

#bottom-nav > a{
    color: var(--gruv-orange)
}

#bottom-nav > a:hover {
    color: var(--gruv-aqua);
}

#bottom-nav {
    display: flex;
    justify-content: space-between;
}

#bottom-nav-first > a{
    color: var(--gruv-orange)
}

#bottom-nav-first > a:hover {
    color: var(--gruv-aqua);
}

#bottom-nav-first {
    display: flex;
    justify-content: right;
}

.recent-list {
    line-height: 4px;
}