#audio {
    background-color: var(--gruv-dark);
    padding: 5px;
    padding-bottom: 0px;
    margin-bottom: 30px;
}

#audio iframe {
    height: 20px;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
